@charset "UTF-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

body{
    background-color: rgb(164, 164, 164);
    font-family: monospace;
}

/* .block{

} */

.block_size{
    width: 1018px;
    /* border: 1px solid black; */
    height: 565px;
    margin: 200px auto;
}

.block-text{
    background-color: #fff;
    
}

.block-text_size{
    width: 1016px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.text{
  color: rgb(130, 130, 130);
  font-family: monospace;
  font-size: 18px;
  width: 1000px;
  overflow: hidden;
}

.big-box_size{
    width: 1016px;
    height: 384px;
    /* background-color: red; */
}

.medium-box{
    display: flex;
    flex-wrap: wrap;
}

.medium-box_size{
    height: 65px;
    /* background-color: yellow; */
    margin-bottom: 5px;
}

.small-box{
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    align-content: center;
    font-size: 18px;
}
.small-box-l{
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  align-content: center;
  font-size: 18px;
}
.small-box_size{
    width: 65px;
    height: 65px;
    margin-right: 5px;
}
.small-box_size-backspace{
    width: 105px;
    height: 65px;
    /* margin-right: 5px; */
}

.small-box_size-tab{
    width: 105px;
    height: 65px;
    margin-right: 5px;
}

.small-box_margin-off{
    margin: 0;
}

.small-box_size-caps{
    width: 125px;
    height: 65px;
    margin-right: 5px;
}
.small-box_size-enter{
    width: 115px;
    height: 65px;
    margin: 0;
}
.small-box_size-shift{
    width: 155px;
    height: 65px;
}
.small-box_size-space{
    width: 1016px;
    height: 65px;
}